<h2>企業編集画面</h2>

<%= form_with model: @company, url: companies_companies_path do |f| %>
  <%= render 'layouts/error_messages', model: f.object %>

  <div class="field">
    <%= f.label :代表者名 %><br>
    <%= f.text_field :representative_name %>
  </div>

  <div class="field">
    <%= f.label :代表者メール %><br>
    <%= f.email_field :email, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= f.label :電話番号 %><br>
    <%= f.text_field :phone_number %>
  </div>

  <div class="field">
    <%= f.label :住所 %><br>
    <%= f.text_field :address %>
  </div>

  <div class="field">
    <%= f.label :新しいパスワード %> <i>(変更しない場合は空白のままで結構です)</i><br />
    <%= f.password_field :password, autocomplete: "new-password" %>
    <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> 文字以上)</em>
    <% end %>
  </div>

  <div class="field">
    <%= f.label :パスワード確認 %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

  

  <div class="actions">
    <%= f.submit "Update" %>
  </div>
<% end %>

<h3>アカウントを削除する</h3>

<div> <%= button_to "アカウント削除", companies_companies_path, data: { confirm: "Are you sure?", turbo_confirm: "Are you sure?" }, method: :delete %></div>

<%= link_to "Back", :back %>