<h1>企業詳細</h1>

<table class="table">
  <tbody>
    <tr>
      <th>企業名</th>
      <td><%= @company.company_name %></td>
    </tr>
    <tr>
      <th>代表者名</th>
      <td><%= @company.representative_name %></td>
    </tr>
    <tr>
      <th>代表者メール</th>
      <td><%= @company.email %></td>
    </tr>
    <tr>
      <th>電話番号</th>
      <td><%= @company.phone_number %></td>
    </tr>
    <tr>
      <th>住所</th>
      <td><%= @company.address %></td>
    </tr>
  </tbody>
</table>

<%= link_to "編集", edit_companies_companies_path, class: "btn btn-warning" %>