<%= form_with(model: @post, url: companies_posts_path, local: true) do |f| %>
  <div class="field">
    <%= f.label :store_name, "店舗名" %>
    <%= f.text_field :store_name %>
  </div>

  <div class="field">
    <%= f.label :store_description, "店舗紹介" %>
    <%= f.text_area :store_description %>
  </div>

  <div class="field">
    <%= f.fields_for :business_hour do |f| %>
      <%#= f.label :business_hours, "営業時間" %>
      <% [['m', '月'], ['t', '火'], ['w', '水'], ['h', '木'], ['f', '金'], ['s', '土'], ['u', '日']].each do |english, japanese| %>
        <div class="field">
          <%= f.label "#{english}_start_time", "#{japanese}曜日 開始時間" %>
          <%= f.time_field :"#{english}_start_time" %>
          <%= f.label "#{english}_end_time", "#{japanese}曜日 終了時間" %>
          <%= f.time_field :"#{english}_end_time" %>
          <%= f.label "#{english}_closing", " 定休日" %>
          <%= f.check_box :"#{english}_closing" %>
        </div>
      <% end %>
    <% end %>
  </div>

  <%= f.label :drink_menu, "ドリンク一覧" %>
  <div class="field">
    <%= f.fields_for :drinks do |drink| %>
      <%= render 'drink_fields', f: drink %>
    <% end %>
    <%= link_to_add_association '追加', f, :drinks %>
  </div>


  <div class="field">
    <%= f.label :popular_courses_and_prices, "人気コースと料金" %>
    <%= f.text_area :popular_courses_and_prices %>
  </div>

  <div class="field">
    <%= f.label :store_image, "店舗画像" %>
    <%= f.file_field :store_image, accept: "image/*" %>
  </div>

  <div class="actions">
    <%= f.submit "投稿する" %>
  </div>
<% end %>
