<h2>投稿一覧</h2>
<% @posts.each do |post| %>
  <h2><%= post.store_name %></h2>
  <p><%= post.store_description %></p>
  <p>営業時間：</p>
  <ul>
    <% post.business_hours.each do |day, hours| %>
      <li><strong><%= day %>曜日：</strong> <%= hours %></li>
    <% end %>
  </ul>
  <p>ドリンク一覧：</p>
<% drinks_by_category = post.drinks.group_by { |drink| drink.drink_category.name } %>
<% drinks_by_category.each do |category, drinks| %>
  <h3><%= category %></h3>
  <ul>
    <% drinks.each do |drink| %>
      <li>
        <strong>ドリンク名：</strong> <%= drink.name %>, 
        <strong>価格：</strong> <%= drink.price %>円
      </li>
    <% end %>
  </ul>
<% end %>

  </ul>
  <p>人気コースと料金：</p>
  <p><%= post.popular_courses_and_prices %></p>
   <%= link_to '詳細を見る', companies_post_path(post) %>
<% end %>
<%= link_to '新規投稿', new_companies_post_path %>
<%= link_to '一覧に戻る', companies_posts_path %>
