<h1 class="mt-4 mb-3">Nomiya</h1>
<div class="my-3">
  <%= form_with url: eval("current_company ? companies_posts_path : root_path"), method: :get do |f| %>
    <label>キーワードや営業日からお店を検索することができます。</label><br>
    キーワード検索:<%= f.search_field :keyword, value: params[:keyword] %>
    営業日:<%= f.collection_select :business_hour, BusinessHour.week_days_i18n, :first, :last, { include_blank: "--ALL--", selected: params[:business_hour] }, {  } %>
    <%= f.submit "検索する"%>
  <% end %>
</div>

<%= render "companies/posts/posts", posts: @posts %>

<% if company_signed_in? %>
  <%= link_to "new_post", new_companies_post_path, class: "btn btn-primary" %>
<% else %>
<% end %>