
<h2>新規投稿</h2>





<%= form_with(model: @post, url: companies_posts_path, local: true) do |f| %>
  <div class="field">
    <%= f.label :store_name, "店舗名" %>
    <%= f.text_field :store_name %>
  </div>

  <div class="field">
    <%= f.label :store_description, "店舗紹介" %>
    <%= f.text_area :store_description %>
  </div>

  <div class="field">
    <%= f.label :business_hours, "営業時間" %>
    <% ['月', '火', '水', '木', '金', '土', '日'].each do |day| %>
      <div class="field">
        <%= f.label "business_hours[#{day}]", "#{day}曜日" %>
        <%= f.text_field :business_hours, name: "post[business_hours][#{day}]" %>
      </div>
    <% end %>
  </div>

   <div class="field">
    <%= f.label :drink_menu, "ドリンク一覧" %>
    <%= f.fields_for :drinks do |drink_form| %>
      <%= drink_form.select :drink_category, DrinkCategory.all.map { |category| [category.name, category.id] }, include_blank: true, prompt: "ドリンクの種類" %>
      <%= drink_form.text_field :name, placeholder: "ドリンク名" %>
      <%= drink_form.text_field :price, placeholder: "価格" %>
    <% end %>
    <%= link_to_add_association '追加', f, :drinks %>
  </div>

  <div class="field">
    <%= f.label :popular_courses_and_prices, "人気コースと料金" %>
    <%= f.text_area :popular_courses_and_prices %>
  </div>

  <div class="field">
    <%= f.label :store_image, "店舗画像" %>
    <%= f.file_field :store_image, accept: "image/*" %>
  </div>

  <div class="actions">
    <%= f.submit "投稿する" %>
  </div>
<% end %>
